body {
  background-color: rgba(85, 77, 77, 0.288);
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.post {
  width: 20%;
  /* height: 100%; */
  margin: 5%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.post-header {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: white;
}
.html5 {
  padding: 0px 5px 0px 10px;
  /* padding-left: 15px;
  padding-right: 5px; */
}

.logo {
  width: 30%;
  /* padding-left: 60px; */
}
.ellipsis-vertical {
  padding-left: 200px;
}
.img {
  width: 384px;
  height: 300px;
  display: flex;
}
/* .post-icons {
  display: flex;
} */
.right-column {
  margin-right: 10px;
  display: flex;
  
}
.left-column {
  display: flex;
}
.post-body {
  background-color: white;
  width: 384px;
  height: 200px;
  
}
.fa-heart {
  padding: 15px 5px 0px 15px;
  /* padding-right: 5px;
  padding-left: 5px;
  padding-top: 5px; */
}
.comment {
  padding: 7px 5px 0px 5px;
  /* padding-right: 5px;
  padding-left: 5px;
  padding-top: 5px; */
}
.paper-plane {
  padding: 7px 5px 0px 5px;
  /* padding-right: 5px;
  padding-left: 5px;
  padding-top: 5px; */
}
.bookmark {
  padding: 10px 5px 0px 255px;
  /* padding-left: 290px;
padding-top: 5px; */
}
.post-body-p1{
  margin: 10px 10px 10px 10px;
}
.post-body-p2{
  margin: 10px 10px 10px 10px;
}

